*{
    font-family:'Courier New', Courier, monospace
}

.title{
    font-size: 75px;
    letter-spacing: 5px;
    color: rgb(229, 178, 245);
}

.body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.about-the-author{
    font-weight: bold;
    font-size: 2rem;
    color:rgb(229, 178, 245);
}
ul{
    text-align: left;
    font-size: 1.2rem;
    color:rgb(236, 196, 248);
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.wallie-container{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

#dog-image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
    
.waille-image{
    border-radius: 20%;
    box-shadow:5px 5px 20px rgba(0,0,0,8);
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#breed{
    padding: 10px;
    margin-top: 20px;
    width: 800px;
    height: 20px;
    border: none;
    border-radius: 100px;
    background-color: rgb(223, 159, 240);
    font-size: 1.2rem;
    text-align: center;
    transition: background-color 0.3 ease-in-out;
}

#breed::placeholder{
    color:rgb(187, 119, 207)
}

#breed:hover{
    background-color:rgb(229, 178, 245);
}

#breed:focus{
outline:none;
border: 2px solid rgb(229, 178, 245);
}

button{   
    padding: 12px 20px;
    border:none;
    border-radius: 100px;
    font-size: 1.2rem;
    margin: 0 10px;
    letter-spacing: 1px;
    color: white;
    background-color: rgb(229, 178, 245);
    transition: all 0.3s ease-in-out;
}


button:hover{
    cursor: pointer;
    transform: scale(1.05)
}

#submit{
    background-color: rgb(117, 72, 180);
}

#submit:hover{
    background-color: rgb(117, 72, 180);
}

#random{
    animation-name: color-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 200px;
}

@keyframes color-change{
    0%{
        background-color: rgb(236, 196, 248);
    }
    50%{
        background-color: rgb(193, 121, 215);
    }
    100%{
        background-color: rgb(164, 92, 186);
    }
}
